@import "fonts.scss";
@import "_mixins.scss";


.logotypes {
  max-width      : 1600px;
  margin         : 0 auto;
  display        : grid;
  place-items    : center;
  background     : #d5d5d5;
  background-size: cover;
}

.logos-container {
  max-width  : 1179px;
  height     : 245px;
  margin     : auto;
  position   : relative;
  width      : 90%;
  display    : grid;
  place-items: center;
  overflow   : hidden;
}


.logos {
  display  : flex;
  width    : calc(250px*12);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px*6));
  }
}

.logo {
  width      : 200px;
  height     : 90px;
  display    : flex;
  align-items: center;
  padding    : 15px;
}

img {
  width: 100%;

}