@import "fonts.scss";
@import "_mixins.scss";

.main-slider {
  max-width : 1600px;
  max-height: 930px;
  margin    : 0 auto;
}

.swiper-container {
  max-width : 1600px;
  max-height: 900px;
}

.swiper-slide {
  text-align     : center;
  font-size      : 18px;
  background     : #fff;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.swiper-slide img {
  display   : block;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.slide1 {
  background     : url(../images/mainBG/slideBg.webp)no-repeat;
  background-size: cover;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

}

.slide2 {
  background     : url(../images/mainBG/adidas.webp)no-repeat;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.slide3 {
  background     : url(../images/mainBG/asics.webp)no-repeat;
  background-size: cover;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  text-shadow    : 1px 1px 2px #262626;
}

.slide4 {
  background     : url(../images/mainBG/newBalance.webp)no-repeat;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  text-shadow    : 2px 2px 3px #262626;

  & span {
    color: #ff0202fd;
  }
}

.slide5 {
  background     : url(../images/mainBG/nike.webp)no-repeat;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

}

.main-slider .swiper-pagination-bullets {
  padding-bottom: 75px;
}

.swiper-container .swiper-pagination-bullet {
  width           : 20px;
  height          : 20px;
  line-height     : 20px;
  background-color: #fff;
}


.slide-logo {
  display        : block;
  max-width      : 100%;
  height         : 100%;
  object-position: center;
  object-fit     : cover;
  position       : relative;
  padding-top    : 105px;
  margin-bottom  : 165px;

  &::after {
    content         : '';
    display         : block;
    bottom          : -28px;
    left            : 7px;
    width           : 70px;
    height          : 2px;
    background-color: #ff6600;
    position        : absolute;
  }
}

.slide1-title {
  color      : #ffffff;
  font-family: $Pn;
  @include adaptiv-font(80, 55);
  font-weight: 700;
  text-align : center;
  position   : relative;
  padding    : 30px;

  transform : translate(0, 120%);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.slide1-title._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.slide-title {
  color      : #ffffff;
  font-family: $Pn;
  @include adaptiv-font(80, 55);
  font-weight: 700;
  text-align : center;
  position   : relative;
  padding    : 30px;
}

.slide1-subtitle {
  color      : #ffffff;
  font-family: $Pn;
  @include adaptiv-font(20, 14);
  font-weight   : 400;
  text-align    : center;
  letter-spacing: -1px;
  margin        : 20px auto 90px;
  text-shadow   : 1px 1px 2px #262626;
  transform     : translate(0, 120%);
  opacity       : 0;
  transition    : all .8s ease 0s;
}

.slide1-subtitle._active {
  transform : translate(0, 0);
  opacity   : 1;
  transition: all .8s ease 0.5s;
}

.slide-subtitle {
  color      : #ffffff;
  font-family: $Pn;
  @include adaptiv-font(20, 14);
  font-weight   : 400;
  text-align    : center;
  letter-spacing: -1px;
  margin        : 20px auto 90px;
  text-shadow   : 1px 1px 2px #262626;
}

.slide1-btn {
  width           : 170px;
  height          : 50px;
  border          : 2px solid #fff;
  background-color: transparent;
  font-family     : $Pn;
  font-size       : 12px;
  font-weight     : 700;
  text-align      : left;
  text-transform  : uppercase;
  letter-spacing  : -0.3px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin-bottom   : 475px;
  text-decoration : none;
  transition      : .7s ease-in-out 0s;
  transform       : translate(0, 120%);
  opacity         : 0;
  transition      : all .8s ease 0s;

  & a {
    color: #fff;
  }

  & .icon-right_smalla {
    color: #fff;
  }

  &:hover {
    background-color: #ff6600;
  }
}

.slide1-btn._active {
  transform : translate(0, 0);
  opacity   : 1;
  transition: all .8s ease 0.9s;
}

.slide-btn {
  width           : 170px;
  height          : 50px;
  border          : 2px solid #fff;
  background-color: transparent;
  font-family     : $Pn;
  font-size       : 12px;
  font-weight     : 700;
  text-align      : left;
  text-transform  : uppercase;
  letter-spacing  : -0.3px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin-bottom   : 475px;
  text-decoration : none;

  & a {
    color: #fff;
  }

  & .icon-right_smalla {
    color: #fff;
  }

  &:hover {
    background-color: #ff6600;
  }
}