@import "fonts.scss";
@import '_mixins.scss';
@import 'btn.scss';


.women-container {
  max-width: 1600px;
  margin   : 0 auto;
}

.women-title {
  color      : #1c1c1b;
  text-shadow: 2px 2px 3px #ff6600;
  font-family: $Pn;
  @include adaptiv-font(100, 35);
  font-weight   : 700;
  line-height   : 75px;
  text-align    : center;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin        : 35px auto;
  padding       : 30px 20px;
}

.women-shop {

  &__cards {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
  }
}