@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}

.blog-container {
  max-width: 1179px;
  margin: 0 auto;
}

.blog-title {
  color: #1f1f1f;
  font-family: "ProximaNova", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -2.4px;
  margin: 110px auto 10px;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.blog-title._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.blog-subtitle {
  opacity: 0.56;
  color: #000000;
  font-family: "ProximaNova", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 90px;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.blog-subtitle._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.5s;
  transition: all .8s ease 0.5s;
}

.blog-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.div1 {
  background: url(../images/VAyR.gif) center/50px no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.div1._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.div2 {
  background: url(../images/body-block_imgs/bbiW.webp) no-repeat center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.div2._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.3s;
  transition: all .8s ease 0.3s;
}

.div3 {
  background: url(../images/VAyR.gif) center/50px no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.div3._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.4s;
  transition: all .8s ease 0.4s;
}

.div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.div4._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.4s;
  transition: all .8s ease 0.4s;
}

.div5 {
  background: url(../images/body-block_imgs/bbiW.webp) no-repeat center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  -webkit-transform: translate(120%, 0);
          transform: translate(120%, 0);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.div5._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.4s;
  transition: all .8s ease 0.4s;
}

@media (max-width: 1179px) {
  .blog-container {
    max-width: 590px;
    margin: 0 auto;
  }
  .blog-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] auto;
        grid-template-columns: repeat(2, 1fr) auto;
    -ms-grid-rows: (1fr)[4] auto;
        grid-template-rows: repeat(4, 1fr) auto;
  }
  .div1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/ 1 / 4 / 3;
  }
  .div2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .div3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .div4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 5 / 3;
  }
}

@media (max-width: 590px) {
  .blog-container {
    max-width: 294px;
    margin: 0 auto;
  }
  .blog-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] auto;
        grid-template-columns: repeat(1, 1fr) auto;
    -ms-grid-rows: (1fr)[4] auto;
        grid-template-rows: repeat(4, 1fr) auto;
  }
  .div1 {
    display: none;
  }
  .div2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .div4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .div5 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
  }
}
