@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}

.main-slider {
  max-width: 1600px;
  max-height: 930px;
  margin: 0 auto;
}

.swiper-container {
  max-width: 1600px;
  max-height: 900px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide1 {
  background: url(../images/mainBG/slideBg.webp) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide2 {
  background: url(../images/mainBG/adidas.webp) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide3 {
  background: url(../images/mainBG/asics.webp) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 1px 1px 2px #262626;
}

.slide4 {
  background: url(../images/mainBG/newBalance.webp) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 2px 2px 3px #262626;
}

.slide4 span {
  color: #ff0202fd;
}

.slide5 {
  background: url(../images/mainBG/nike.webp) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .swiper-pagination-bullets {
  padding-bottom: 75px;
}

.swiper-container .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
}

.slide-logo {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  padding-top: 105px;
  margin-bottom: 165px;
}

.slide-logo::after {
  content: '';
  display: block;
  bottom: -28px;
  left: 7px;
  width: 70px;
  height: 2px;
  background-color: #ff6600;
  position: absolute;
}

.slide1-title {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: calc(55px + 25 * ((100vw - 320px) / 1280));
  font-weight: 700;
  text-align: center;
  position: relative;
  padding: 30px;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.slide1-title._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.slide-title {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: calc(55px + 25 * ((100vw - 320px) / 1280));
  font-weight: 700;
  text-align: center;
  position: relative;
  padding: 30px;
}

.slide1-subtitle {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1280));
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
  margin: 20px auto 90px;
  text-shadow: 1px 1px 2px #262626;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.slide1-subtitle._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.5s;
  transition: all .8s ease 0.5s;
}

.slide-subtitle {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1280));
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
  margin: 20px auto 90px;
  text-shadow: 1px 1px 2px #262626;
}

.slide1-btn {
  width: 170px;
  height: 50px;
  border: 2px solid #fff;
  background-color: transparent;
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 475px;
  text-decoration: none;
  -webkit-transition: .7s ease-in-out 0s;
  transition: .7s ease-in-out 0s;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.slide1-btn a {
  color: #fff;
}

.slide1-btn .icon-right_smalla {
  color: #fff;
}

.slide1-btn:hover {
  background-color: #ff6600;
}

.slide1-btn._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .8s ease 0.9s;
  transition: all .8s ease 0.9s;
}

.slide-btn {
  width: 170px;
  height: 50px;
  border: 2px solid #fff;
  background-color: transparent;
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 475px;
  text-decoration: none;
}

.slide-btn a {
  color: #fff;
}

.slide-btn .icon-right_smalla {
  color: #fff;
}

.slide-btn:hover {
  background-color: #ff6600;
}
